.form-items{
    display: flex;
    flex-direction: column;
}
.senha mat-form-field + mat-form-field {
    margin-left: 5px;
}
.tels{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.tel{
    flex-grow: 1;
    width: 100%;
}
.insideBox{
    display: flex;
    justify-content: center;
}

