
<mat-card>
    <mat-card-header>
        <h2>Formulário</h2>
    </mat-card-header>

    <mat-card-content>
        <form action="" 
        class="form-items"
        (ngSubmit)="openDialog(form)"
        #form="ngForm"
        >
            <mat-form-field appearance="fill" color="accent">
                <mat-label>Nome</mat-label>
                <input 
                    type="text" 
                    matInput 
                    placeholder="Digite seu nome"
                    [(ngModel)]="name"
                    name="name"
                    #inputName="ngModel"
                    required
                    minlength="2"
                >
                <mat-error *ngIf="inputName.invalid">
                    <span *ngIf="inputName.errors?.['required']">Campo obrigatório</span>
                    <span *ngIf="inputName.errors?.['minlength']">Seu nome precisa ter no mínimo 2 letras</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" color="accent">
                <mat-label>Sobrenome</mat-label>
                <input 
                    type="text" 
                    matInput 
                    placeholder="Digite seu sobrenome"
                    [(ngModel)]="lastName"
                    name="lastName"
                    #inputLastName="ngModel"
                    required
                    minlength="2"
                >
                <mat-error *ngIf="inputLastName.invalid">
                    <span *ngIf="inputLastName.errors?.['required']">Campo obrigatório</span>
                    <span *ngIf="inputLastName.errors?.['minlength']">Seu sobrenome precisa ter no mínimo 2 letras</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" color="accent">
                <mat-label>Username</mat-label>
                <input 
                    type="text" 
                    matInput 
                    placeholder="Crie um username"
                    [(ngModel)]="username"
                    name="username"
                    #inputUsername="ngModel"
                    required
                    minlength="6"
                >
                <mat-error *ngIf="inputUsername.invalid">
                    <span *ngIf="inputUsername.errors?.['required']">Campo obrigatório</span>
                    <span *ngIf="inputUsername.errors?.['minlength']">Seu username precisa ter no mínimo 6 caracteres</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" color="accent">
                <mat-label>CPF</mat-label>
                <input 
                    type="text" 
                    matInput 
                    placeholder="123.456.789-00"
                    [(ngModel)]="cpf"
                    name="cpf"
                    #inputCPF="ngModel"
                    required
                    appValidateCPF
                >
                <mat-error *ngIf="inputCPF.invalid">
                    <span *ngIf="inputCPF.errors?.['required']">Campo obrigatório</span>
                    <span *ngIf="inputCPF.errors?.['validateCPFInvalid']">Um CPF sempre tem 11 dígito numéricos</span>
                </mat-error>
            </mat-form-field>
            <div class="tels">
                <mat-form-field appearance="fill" color="accent" class="tel">
                    <mat-label>Telefone Principal</mat-label>
                        <div class="insideBox">
                            <input 
                            type="text" 
                            matInput 
                            placeholder="(11) 11111-1111"
                            [(ngModel)]="mainPhone"
                            name="mainphone"
                            #inputMainPhone="ngModel"
                            required
                            appValidateTel
                        >
                        <button
                        type="button"
                            mat-raised-button 
                            color=""
                            (click)="addTelSpace()"
                        >+</button>
                        </div>
                    <mat-error *ngIf="inputMainPhone.invalid">
                            <span *ngIf="inputMainPhone.errors?.['required']">Campo obrigatório</span>
                            <span *ngIf="inputMainPhone.errors?.['validateTelInvalid']">Um telefone válido tem entre 11 e 13 dígitos numéricos</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" color="accent" class="tel" *ngFor="let t of objPhone; index as i">
                <mat-label>Telefone Adicional {{i + 1}}</mat-label>
                        <div class="insideBox">
                            <input 
                            type="text" 
                            matInput 
                            placeholder="(11) 11111-1111"
                            [(ngModel)]="t.phone"
                            name="adtphone"
                        >
                        <button
                        type="button"
                            mat-raised-button 
                            color=""
                            (click)="removeTelSpace(i)"
                        >-</button>
                        </div>
                </mat-form-field>

            </div>
            <mat-form-field appearance="fill" color="accent">
                <mat-label>Endereço</mat-label>
                <input 
                    type="text" 
                    matInput 
                    placeholder="Rua, nº - Cidade"
                    [(ngModel)]="adress"
                    name="adress"
                    #inputAdress="ngModel"
                >
            </mat-form-field>
            <mat-form-field appearance="fill" color="accent">
                <mat-label>Complemento</mat-label>
                <input 
                    type="text" 
                    matInput 
                    placeholder="Rua, nº - Cidade"
                    [(ngModel)]="compl"
                    name="compl"
                    #inputCompl="ngModel"
                >
            </mat-form-field>
            <div class="senha">
                <mat-form-field appearance="fill" color="accent">
                    <mat-label>Senha</mat-label>
                    <input 
                        type="password" 
                        matInput 
                        placeholder="senha"
                        [(ngModel)]="password"
                        name="password"
                        #inputPassword="ngModel"
                        required
                        minlength="6"
                    >
                    <mat-error *ngIf="inputPassword.invalid">
                        <span *ngIf="inputPassword.errors?.['required']">Campo obrigatório</span>
                        <span *ngIf="inputPassword.errors?.['minlength']">Sua senha tem que ter no mínimo 6 caracteres</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" color="accent">
                    <mat-label>Confirme senha</mat-label>
                    <input 
                        type="password" 
                        matInput 
                        placeholder="senha"
                        [(ngModel)]="confPassword"
                        name="confPassword"
                        #inputConfPassword="ngModel"
                        required
                        [appValidatePass]="password"
                    >
                    <mat-error *ngIf="inputConfPassword.invalid">
                        <span *ngIf="inputConfPassword.errors?.['required']">Campo obrigatório</span>
                        <span *ngIf="inputConfPassword.errors?.['validatePassInvalid']"
                            >Suas senhas não batem</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <button 
                mat-raised-button 
                color="accent" 
                type="submit"
                [disabled]="
                inputName.invalid ||
                inputLastName.invalid ||
                inputUsername.invalid ||
                inputCPF.invalid ||
                inputMainPhone.invalid ||
                inputPassword.invalid ||
                inputConfPassword.invalid"
                >
                Cadastre-se
            </button>
        </form>
    </mat-card-content>
</mat-card>
