.whole-page{
    width: 98vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}
.temp-form{
    padding: 10vh 0 10vh 10vw;
    width: 50%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reac-form{
    padding: 10vh 10vw 10vh 0;
    width: 50%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}